{% extends "default/module.html.jinja2" %}
{% block nav_title %}
    <div style="text-align: center;">
        <span class="modulename"><a style="display: inline-block;" href="https://pydatomic.github.io">pydatomic</a></span>
        <span>{{ env["VERSION"] | default("") }}</span>
    </div>
{% endblock %}